<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce Yourself!</title>
    <%- include("style.ejs") %>
</head>
<body>
    <div class="profilePage">
        <div class="bgLight p30">
            <h1>Introduce Yourself!</h1>
          <% if (error) { %>    
            <% error = error.split(',') %>  
            <% error.forEach(err => { %>
                <p style="color: red;"><%= err %></p>
            <% }) %>
        <% } %>
            <form action="/profile/input" method="post">
                <label>Phone Number</label><br>
                <input type="text" name="phoneNumber" class="form-control" style="width: 300px;"><br>
                <label>Date of Birth</label><br>
                <input type="date" name="dateOfBirth" class="form-control" style="width: 300px;"><br>
                <label>Full Name</label><br>
                <input type="text" name="name"class="form-control" style="width: 300px;"><br>
                <label>Nickname</label><br>
                <input type="text" name="nickName" class="form-control" style="width: 300px;"><br>
                <label>Profile Picture</label><br>
                <input type="text" name="profilePicUrl" class="form-control" style="width: 300px;"><br>
                <label>Bio</label><br>
                <textarea name="bio" class="form-control" style="width: 300px;"></textarea><br>
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        </div>
        <div class="bgDark">

        </div>
    </div>
    
</body>
</html>