<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("style.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fesnuk | Login</title>
</head>
<body>
    <div class="loginPage">
        <div id="loginDivKiri" class="bgDark">
            <h1>lambang bola dunia terhubung dengan tulisan "fesnuk" di bawahnya</h1>
        </div>
        <div id="loginDivKanan" class="bgLight">
            <form method="post" action="/login">
                <h2>Login</h2>
                <% errors=""%>
                <% if(errors){%>
                    <p id="error"><%= error %></p>
                <%}%>
                <label>Username</label><br>
                <input type="text" name="user"><br>
                <label>Password</label><br>
                <input type="password" name="password"><br><br>
                <input type="submit" value="Login"><br>
            </form><br>
            <form method="get" action="/register">
                <input type="submit" value="Register"><br>
            </form>
        </div>
    </div>
    
</body>
</html>