<div class="navbar">
    <div>
        <b><a class="white" href="/">Fesnuk</a></b>
    </div>
    <div>
        <b><a class="white" href="/profile/me"><img src="<%= myProfile.profilePicUrl %>" width="30px" height="30px"> My Profile (<%= myProfile.nickName %>)</a></b>
    </div>
    <div>
        <b><a class="white" href="/post/add">Post Something...</a></b>
    </div>
    <div>
        <b><a class="white" href="/logout"><div>Logout</div></a></b>  
    </div>
</div>