<div class="navbar">
    Fesnuk
    <a href="/profile/me">My Profile</a>
    <a href="/post/add">Post Something...</a>
    <form method="post" action="/profile">
        <input type="text">
        <input type="submit" value="Search by Username">
    </form>
    <a href="/logout"><div>Logout</div></a>
</div>