<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("style.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fesnuk | Register</title>
</head>
<body>
    <div class="loginPage">
        <div id="loginDivKiri">
            <center>
            <img src="https://storage.googleapis.com/lashodia-product-image/img.jpg" alt="" style="width: 700px; height: 600px; " >
            </center>
        </div>
        <div id="loginDivKanan" class="bgLight" style="padding: 30px;">
            <form method="post" action="/register">
                <h2>Silakan Daftarkan Diri Anda</h2>
                <label>Username</label><br>
                <input type="text" name="username" class="form-control" style="width: 300px;"><br>
                <label>Email</label><br>
                <input type="text" name="email" class="form-control" style="width: 300px;"><br>
                <label>Password</label><br>
                <input type="password" name="password" class="form-control" style="width: 300px;"><br><br>
                <input type="submit" value="Register" class="btn btn-light"><br>
            </form><br>
        </div>
    </div>
    
</body>
</html>